# Transforming Data with Pandas

In [2]:
# Import the neccesary packages
import pandas as pd

# Extract the csv file for this assay:
df = pd.read_csv('Archivos_CSV_Excel_y_JSON/05_sales_data.csv')
print(df.head())

         Date   Product Region  Sales
0  2024-09-01  Widget A  North   1500
1  2024-09-01  Widget B  South   1200
2  2024-09-02  Widget A  North   1600
3  2024-09-02  Widget C   East   1100
4  2024-09-03  Widget B  South   1300

Sort the DataFrame

In [2]:
df_sorted = df.sort_values(by='Sales', ascending=False)
print(df_sorted.head())

         Date   Product Region  Sales
2  2024-09-02  Widget A  North   1600
0  2024-09-01  Widget A  North   1500
4  2024-09-03  Widget B  South   1300
1  2024-09-01  Widget B  South   1200
3  2024-09-02  Widget C   East   1100

Group the DataFrame

In [3]:
df_grouped = df.groupby('Region')['Sales'].sum()
print(df_grouped)

Region
East     1100
North    3100
South    2500
Name: Sales, dtype: int64

Agregate the DataFrame

In [4]:
mean_sales = df['Sales'].mean()
print(mean_sales)

1340.0

Disccount the Dataframe

In [5]:
def calculate_discount(sales):
    return sales * 0.9

df['Discounted_Sales'] = df['Sales'].apply(calculate_discount)
print(df.head())

         Date   Product Region  Sales  Discounted_Sales
0  2024-09-01  Widget A  North   1500            1350.0
1  2024-09-01  Widget B  South   1200            1080.0
2  2024-09-02  Widget A  North   1600            1440.0
3  2024-09-02  Widget C   East   1100             990.0
4  2024-09-03  Widget B  South   1300            1170.0

Pivot the DataFrame

In [6]:
df_pivot = df.pivot_table(index='Region', columns='Product', values='Sales')
print(df_pivot)

Product  Widget A  Widget B  Widget C
Region
East          NaN       NaN    1100.0
North      1550.0       NaN       NaN
South         NaN    1250.0       NaN