# Using Excel File

In [ ]:
# The same that CSV File, just only change from CSV to Excel, but it's the same process

In [1]:
import pandas as pd
import openpyxl

df = pd.read_excel('Archivos_CSV/reporte_solicitudes_2025-12-12.xlsx')
df.head()

,Unnamed: 0,tipo_identificacion,identificacion,sexo,nombre_paciente,fecha_nacimiento,edad,tipo_edad,estancia_id,estado,...,servicio,complejidad,tipo_solicitud,fecha_solicitud,fecha_cierre,servicio_prestado,causal_no_prestacion,observacion,medico_auditor,max_evol_id
0,0,CC,52308919,Femenino,YALDY LILIANA RODRIGUEZ HERNANDEZ,1975-09-21,48.0,A,7470,Egresado,...,Cuidado basico adultos - 4 Camas,HOSPITALIZACION PSIQUIATRICA,Remisión Integral,2023-02-21,2023-02-21,NaN,NaN,Previo al módulo de solicitudes administrativas,DIANA LOPEZ,65494.0
1,1,TI,1121879650,Femenino,MILEY SOFIA TORRES LOPEZ,2009-07-16,14.0,A,27154,Egresado,...,Cuidado basico pediatrico - 4 Camas,HOSPITALIZACION PSIQUIATRICA,Manejo domiciliario - PHD Altas tempranas,2023-03-21,2023-03-30,NaN,NaN,Previo al módulo de solicitudes administrativas,DIANA LOPEZ,156927.0
2,2,CC,79249004,Masculino,NESTOR FREDY SANDOVAL MORENO,1971-07-06,51.0,A,4186,Egresado,...,Cuidado basico adultos - Bipersonal,HOSPITALIZACION MEDICA ADULTOS,Manejo domiciliario - PHD Altas tempranas,2023-03-06,2023-03-31,NaN,NaN,Previo al módulo de solicitudes administrativas,BLANCA RAMIREZ,159257.0
3,3,CC,35323713,Femenino,ESPERANZA SOPO CASTAÑEDA,1957-01-04,65.0,A,4185,Egresado,...,Cuidado basico adultos - 4 Camas,HOSPITALIZACION MEDICA ADULTOS,Manejo domiciliario - PHD Altas tempranas,2023-02-21,2024-05-02,NaN,NaN,Previo al módulo de solicitudes administrativas,BLANCA RAMIREZ,1057825.0
4,4,CC,20337008,Femenino,MARIA CAROLINA CHAVES HERRERA,1942-07-24,81.0,A,22018,Egresado,...,Cuidado basico adultos - Bipersonal,HOSPITALIZACION PSIQUIATRICA,Manejo domiciliario - PHD Altas tempranas,2023-03-08,2023-03-24,NaN,NaN,Previo al módulo de solicitudes administrativas,BLANCA RAMIREZ,128737.0

In [2]:
# Information about the File
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82954 entries, 0 to 82953
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            82954 non-null  int64
 1   tipo_identificacion   82954 non-null  object
 2   identificacion        82954 non-null  object
 3   sexo                  82954 non-null  object
 4   nombre_paciente       82954 non-null  object
 5   fecha_nacimiento      82954 non-null  datetime64[ns]
 6   edad                  82948 non-null  float64
 7   tipo_edad             82948 non-null  object
 8   estancia_id           82954 non-null  int64
 9   estado                82954 non-null  object
 10  fecha_ingreso         82954 non-null  datetime64[ns]
 11  fecha_egreso          82469 non-null  datetime64[ns]
 12  ips                   82954 non-null  object
 13  dx_actual             82954 non-null  object
 14  desc_diagnostico      82954 non-null  object
 15  servicio              82954 non-null  object
 16  complejidad           82952 non-null  object
 17  tipo_solicitud        82954 non-null  object
 18  fecha_solicitud       82954 non-null  datetime64[ns]
 19  fecha_cierre          82586 non-null  datetime64[ns]
 20  servicio_prestado     82949 non-null  object
 21  causal_no_prestacion  22490 non-null  object
 22  observacion           82954 non-null  object
 23  medico_auditor        82954 non-null  object
 24  max_evol_id           82952 non-null  float64
dtypes: datetime64[ns](5), float64(2), int64(2), object(16)
memory usage: 15.8+ MB

In [4]:
# Instantiating describe() the Excel File:
df.describe()

,Unnamed: 0,fecha_nacimiento,edad,estancia_id,fecha_ingreso,fecha_egreso,fecha_solicitud,fecha_cierre,max_evol_id
count,82954.000000,82954,82948.000000,82954.000000,82954,82469,82954,82586,8.295200e+04
mean,41476.500000,1979-04-05 11:18:02.595173248,45.585861,313412.103142,2024-08-29 19:31:31.525423872,2024-09-07 06:43:55.666735616,2024-09-05 05:39:45.042312704,2024-09-06 16:12:16.163514368,1.343432e+06
min,0.000000,1910-01-05 00:00:00,-4.000000,993.000000,2009-02-24 00:00:00,2023-01-01 00:00:00,2022-08-31 00:00:00,2023-01-11 00:00:00,2.800000e+01
25%,20738.250000,1954-04-25 00:00:00,19.000000,188830.500000,2024-01-26 00:00:00,2024-02-05 00:00:00,2024-02-02 00:00:00,2024-02-04 00:00:00,8.480052e+05
50%,41476.500000,1974-06-24 00:00:00,50.000000,322797.500000,2024-09-17 00:00:00,2024-09-24 00:00:00,2024-09-23 00:00:00,2024-09-24 00:00:00,1.406572e+06
75%,62214.750000,2005-12-17 18:00:00,70.000000,449544.250000,2025-05-09 00:00:00,2025-05-15 00:00:00,2025-05-14 00:00:00,2025-05-15 00:00:00,1.896534e+06
max,82953.000000,2025-12-10 00:00:00,113.000000,572942.000000,2025-12-10 00:00:00,2025-12-12 00:00:00,2025-12-12 00:00:00,2025-12-25 00:00:00,2.337589e+06
std,23946.901452,NaN,29.055408,157510.550662,NaN,NaN,NaN,NaN,6.392388e+05